.chat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.chat-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.back-button {
    background: none;
    border: none;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.chat-header-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 35px;
}

.chat-header-username {
    font-size: 1rem;
    margin: 0;
    
}

.chat-body {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.chat-message {
    display: inline-block;
    max-width: 80%;
    padding: 8px;
    border-radius: 8px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.chat-message-sent {
    align-self: flex-end;
    background-color: lightblue;
    text-align: right;
}

.chat-message-received {
    align-self: flex-start;
    background-color: lightgrey;
    text-align: left;
}

.chat-input-container {
    display: flex;
    width: 100%;
}

.chat-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    box-sizing: border-box;
}

.chat-send-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-send-button:hover {
    background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 768px) {
    .chat-card {
        width: 90%;
    }

    .chat-header-img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    .chat-header-username {
        font-size: 0.8rem;
    }

    .chat-message {
        max-width: 90%;
        padding: 6px;
    }
    .chat-messages {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 350px;
        overflow-y: auto;
        margin-bottom: 10px;
    }

    .chat-input {
        padding: 6px;
    }

    .chat-send-button {
        padding: 6px 12px;
    }
}
